@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Oleo+Script:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  height: 100vh;
  background-image: url("img/book-shelf.jpg");
  background-size: cover;
  background-color: rgb(63, 63, 63);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

header {
  color: white;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 5vh 16vw;
  color: #ffffff;
  gap: 2rem;
}

header h1 {
  font-family: "Oleo Script", cursive;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

header button {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #af305f;
  color: white;
  border: 0;
}

header button:hover {
  background-color: #bb3c6b;
}

header button:active {
  background-color: #af305f;
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
}

.form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: clamp(200px, 80vw, 600px);
  height: fit-content;
  padding: 8%;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px #9c9c9cce;
  z-index: 1; /* Sit on top */
  display: none;
}

.form-container img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #af305f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 6px 8px;
  font-size: 1rem;
}

input[type="checkbox"] {
  align-self: flex-start;
  transform: scale(1.5);
  accent-color: #af305f;
  margin-bottom: 1rem;
}

label {
  margin-top: 10px;
}

.add-btn {
  cursor: pointer;
  padding: 8px 8px;
  font-size: 1rem;
  color: white;
  background-color: #af305f;
  border: none;
  border-radius: 3px;
}

.add-btn:hover {
  background-color: rgb(203, 55, 109);
}

.add-btn:active {
  background-color: #af305f;
}
